nav {
  .masthead {
    text-align: center;
    color: $light-color;
    background-color: $primary-color;
    padding: 5px 8px 12px 5px;
  }
  ul {
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;

    li {
      padding: 20px;
      a {
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
          color: $light-color;
        }
      }
    }
  }
}
