nav {
  .masthead {
    text-align: center;
    color: $light-color;
    background-color: $primary-color;
    padding: 5px 8px 12px 10px;
  }
  ul {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      border-radius: 5px;

      &:hover,
      &:focus,
      &:active {
        background-color: $accent-color;
      }

      a {
        text-transform: lowercase;
        color: $dark-color;
        padding: 11px 20px;
        &:hover,
        &:focus,
        &:active {
          color: $dark-color;
        }
      }
    }

    .order-button {
      background-color: $light-color;
      border: solid $dark-color 2px;

      a {
        color: $dark-color;
      }

      margin-left: auto;
    }
  }
}
