nav {
  .masthead {
    text-align: center;
    background-color: $primary-color;
    padding: 5px 8px 15px 10px;

    h1 {
      a {
        color: $light-color;
      }
    }
  }

  ul {
    margin: 12px 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      //border-radius: 6px;

      &:hover,
      &:focus,
      &:active {
        background-color: $accent-color;
        a {
          color: $dark-color;
        }
      }

      a {
        text-transform: lowercase;
        color: $dark-color;
        padding: 11px 20px;
      }
    }

    .order-button {
      background-color: $accent-color;
      border: 3px solid $accent-color;
      margin-left: auto;
      a {
        color: $dark-color;
      }

      &:hover {
        border: 3px solid $accent-color;
        background-color: $dark-color;
        a {
          color: $accent-color;
        }
      }
    }
  }
}
