header {
  background-color: $primary-color;
  padding: 10px 8px 20px 10px;
  .masthead-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .masthead {
      a {
        color: $light-color;
      }
    }

    .social {
      ul li {
        padding: 5px 9px;
        i {
          color: $light-color;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}

// header {
//   background-color: $primary-color;
//   .masthead {
//     padding: 10px 8px 20px 10px;

//     h1 {
//       text-align: center;

//       a {
//         color: $light-color;
//       }
//     }

//     .masthead-icons {
//       display: flex;
//       flex-direction: row;

//       justify-content: space-between;
//       align-content: center;
//     }

//     .header-social {
//       ul {
//         justify-content: center;
//         li {
//           padding: 0px 10px;
//         }
//       }
//       i {
//         font-size: 2.8rem;
//       }
//     }
//   }

//   ul {
//     margin: 12px 0px;

//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;

//     li {
//       &:hover,
//       &:focus,
//       &:active {
//         background-color: $accent-color;
//         cursor: pointer;
//         a {
//           color: $dark-color;
//         }
//       }

//       a {
//         text-transform: lowercase;
//         color: $dark-color;
//         padding: 11px 20px;
//         font-size: 1.8rem;
//       }
//     }

//     .order-button {
//       background-color: $accent-color;
//       border: 3px solid $accent-color;
//       margin-left: auto;
//       a {
//         color: $dark-color;
//       }

//       &:hover {
//         border: 3px solid $accent-color;
//         background-color: $dark-color;
//         a {
//           color: $accent-color;
//         }
//       }
//     }
//   }
// }
