header {
  background-color: $primary-color;
  padding: 10px 8px 15px 10px;

  .masthead-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;

    .masthead {
      a {
        color: $light-color;
      }
    }

    .social {
      ul li {
        padding: 5px 12px;
        i {
          color: $light-color;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}

nav {
  //uncomment for fixed nav bar
  // background-color: $light-color;
  // position: sticky;
  // z-index: 1;
  // top: 0px;
  // width: 100%;
  //fixed nav bar
  .menus {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      padding: 12px 0px;
      li {
        &:hover,
        &:focus,
        &:active {
          background-color: $accent-color;
          cursor: pointer;
          a {
            color: $dark-color;
          }
        }

        a {
          text-transform: lowercase;
          color: $dark-color;
          padding: 11px 20px;
          font-size: 1.8rem;
        }
      }

      .order-button {
        background-color: $accent-color;
        border: 3px solid $accent-color;
        margin-left: auto;
        a {
          color: $dark-color;
        }

        &:hover {
          border: 3px solid $accent-color;
          background-color: $dark-color;
          a {
            color: $accent-color;
          }
        }
      }

      //end
    }
  }
}
