/* The Overlay (background for smaller screens) */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  background-color: $dark-color;

  overflow-x: hidden;
  transition: 0.5s;
  /* Position the content inside the overlay */

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: $dark-color;
      display: block; /* Display block instead of inline */
      transition: 0.3s; /* Transition effects on hover (color) */

      &:hover,
      &:focus,
      &:active {
        color: $light-color;
      }
    }
  }
  /* Position the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    text-decoration-line: none;
    font-size: 4rem;
    color: $dark-color;
    &:hover,
    &:focus,
    &:active {
      color: $light-color;
    }
  }
}

header {
  padding: 0px 0px 0px 0px;
  background-color: $primary-color;

  .masthead-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 5px 10px 10px 30px;

    .masthead {
      h1 {
        text-align: left;
      }
      a,
      p {
        color: $light-color;
      }

      p a {
        padding-top: 3px;
        font-size: 1.4rem;
      }
    }

    .social {
      ul li {
        padding: 5px 12px;
        i {
          color: $light-color;

          &:hover,
          &:focus,
          &:active {
            color: $accent-color;
          }
        }
      }
    }

    .hamburger {
      display: none;
      padding: 10px 20px;

      i {
        color: $light-color;
        font-size: 3.5rem;

        &:hover,
        &:focus,
        &:active {
          color: $accent-color;
        }
      }
    }
  }
}

.covid-update {
  background-color: $accent-color;
  padding: 5px 15px;
  border: 5px solid $light-color;
  border-radius: 7px;

  p {
    color: $dark-color;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    line-height: 2.2rem;
  }
}

nav {
  //uncomment for fixed nav bar
  // background-color: $light-color;
  // position: sticky;
  // z-index: 1;
  // top: 0px;
  // width: 100%;
  //fixed nav

  .mobile-menus {
    display: none;
    flex-direction: row;
    padding: 10px 0px;

    justify-content: space-evenly;
    background-color: $secondary-color;
    div {
      .mailing-button {
        background-color: $light-color;
        border: 3px solid $accent-color;
        width: 100%;
        text-align: center;

        a {
          text-transform: lowercase;
          color: $dark-color;
          padding: 11px 20px;
          font-size: 1.8rem;
        }

        &:hover,
        &:focus,
        &:active {
          border: 3px solid $accent-color;
          background-color: $accent-color;
          a {
            color: $dark-color;
          }
        }
      }

      .order-button {
        background-color: $accent-color;
        border: 3px solid $accent-color;

        width: 100%;
        text-align: center;

        a {
          text-transform: lowercase;
          color: $dark-color;
          padding: 11px 20px;
          font-size: 1.8rem;
        }

        &:hover,
        &:focus,
        &:active {
          border: 3px solid $accent-color;
          background-color: $dark-color;
          a {
            color: $accent-color;
          }
        }
      }
    }
  }

  .menus {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 12px 0px;

      li {
        &:hover,
        &:focus,
        &:active {
          background-color: $accent-color;
          cursor: pointer;
          a {
            color: $dark-color;
          }
        }

        a {
          text-transform: lowercase;
          color: $dark-color;
          padding: 11px 20px;
          font-size: 1.8rem;
        }
      }

      .order-button {
        background-color: $accent-color;
        border: 3px solid $accent-color;
        margin-left: auto;
        a {
          color: $dark-color;
        }

        &:hover,
        &:focus,
        &:active {
          border: 3px solid $accent-color;
          background-color: $dark-color;
          a {
            color: $accent-color;
          }
        }
      }

      //end
    }
  }
}

@media screen and (max-width: 1100px) {
  nav {
    .menus {
      ul li a {
        padding: 11px 10px;
      }
    }
  }

  .covid-update {
    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 950px) {
  nav {
    .menus {
      ul li a {
        padding: 11px 5px 11px 10px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  nav {
    .menus {
      display: none;
    }
  }

  header {
    .masthead-social {
      .hamburger {
        display: block;
      }

      .social {
        display: none;
      }
    }
  }

  .covid-update {
    p {
      font-size: 1.2rem;
      color: $light-color;
    }
    background-color: $tertiary-color;
  }
}

@media screen and (max-width: 750px) {
  .social {
    .icon {
      float: left;
      display: block;
    }
  }
  nav {
    .mobile-menus {
      display: flex;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    .masthead-social {
      .masthead {
        h1 a {
          font-size: 3rem;
        }

        p a {
          font-size: 1.3rem;
        }
      }
    }
  }
  .covid-update {
    p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .masthead-social {
      .masthead {
        h1 a {
          font-size: 2.5rem;
        }

        p a {
          font-size: 1.2rem;
        }
      }
    }
  }

  nav {
    .mobile-menus {
      padding: 16px 0px;
      div .mailing-button a,
      div .order-button a {
        font-size: 1.6rem;
        padding: 11px 10px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  header {
    .masthead-social {
      .masthead {
        h1 a {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 410px) {
  header {
    .masthead-social {
      padding-left: 15px;
      padding-bottom: 0px;
      .masthead {
        h1 {
          padding-bottom: 20px;

          a {
            padding-top: 0px;
            font-size: 2.3rem;
          }
        }

        p {
          display: none;
        }
      }

      .hamburger {
        padding-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  header {
    .masthead-social {
      .masthead {
        align-items: center;
        align-content: center;

        h1 {
          a {
            font-size: 2.1rem;
            padding: 0px;
          }
        }

        p {
          display: none;
        }
      }
    }
  }

  nav {
    .mobile-menus {
      div .mailing-button a,
      div .order-button a {
        font-size: 1.6rem;
        padding: 11px 5px;
      }
    }
  }
}
