.snowflakes {
	padding: 50px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $christmas-color;

	.snowflakes-note {
		width: 66%;
		padding: 0px 40px;
		h2 {
			padding-bottom: 20px;
			font-weight: 800;
		}
		p {
			text-align: center;
			a {
				font-family: $secondary-font;
				font-size: 1.8rem;
			}
		}
	}

	.snowflakes-image {
		width: 34%;
	}
}

@media screen and (max-width: 1000px) {
	.snowflakes-note {
		p {
			font-size: 1.6rem;
		}
	}
}

@media screen and (max-width: 800px) {
	.snowflakes {
		flex-direction: column;
		padding: 25px 30px;

		.snowflakes-note {
			width: 100%;
			padding: 20px 0px;
			p {
				font-size: 1.6rem;
			}
		}

		.snowflakes-image {
			width: 100%;
		}
	}
}
