.specials {
  padding: 50px 0px;

  .specials-list {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: Repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;

    div {
      padding: 20px;
      background-color: $secondary-color;
      color: $dark-color;
      border: $accent-color 3px solid;
      border-radius: 5px;
      h3 {
        font-weight: bolder;
        text-transform: lowercase;
      }
      p {
        padding: 20px 5px;
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }
}
