.story {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;

  .story-note {
    width: 66%;
    padding: 0px 40px;
    h2 {
      padding-bottom: 20px;
      font-weight: 800;
      text-transform: lowercase;
    }

    // p {
    //   text-transform: lowercase;
    // }
  }

  .story-image {
    width: 34%;
  }
}

@media screen and (max-width: 1000px) {
  .story-note {
    p {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .story {
    flex-direction: column;
    padding: 25px 30px;

    .story-note {
      width: 100%;
      padding: 20px 0px;
      p {
        font-size: 1.6rem;
      }
    }

    .story-image {
      width: 100%;
    }
  }
}
