.story {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;

  .story-note {
    width: 66%;
    padding: 0px 40px;
    h2 {
      padding-bottom: 20px;
      font-weight: 800;
      text-transform: lowercase;
    }
  }

  .story-image {
    width: 33%;
  }
}
