.section-subscribe {
  background-color: $secondary-color;

  .form-subscribe {
    padding: 50px 0px;
    margin: 0px 110px;
    text-transform: lowercase;

    h2 {
      margin-bottom: 25px;
    }

    .form-flex {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;

      .label-flex {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;

        div {
          padding: 5px;
        }

        .lblForm {
          font-size: 1.8rem;
        }

        .txtForm {
          font-size: 1.8rem;
          padding: 10px 10px;
          border: 3px $accent-color solid;
          background-color: $light-color;
        }
      }
    }
    .clear {
      padding: 5px;
      button {
        font-size: 1.8rem;
        margin-top: 20px;
        margin-left: 50px;

        padding: 10px 40px;
        border: 3px solid $accent-color;
        background-color: $accent-color;
        font-weight: bolder;
        color: $dark-color;

        text-transform: lowercase;

        &:hover,
        :active,
        :focus {
          color: $accent-color;
          background-color: $dark-color;
        }
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .section-subscribe {
    .form-subscribe {
      margin: 0px;
    }
  }
}

@media screen and (max-width: 690px) {
  .section-subscribe {
    .form-subscribe {
      padding: 0px;
      margin: 0px;
      form {
        .form-flex {
          flex-direction: column;
          .label-flex {
            display: flex;
            flex-direction: row;
          }

          .element {
            padding: 0px 0px 20px 0px;
            margin: 0px auto;

            button {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}
