//france inspired color palette https://coolors.co/495867-577399-bdd5ea-f7f7ff-fe5f55
$primary-color: #fe5f55; //Orange Red Crayola
$secondary-color: rgba(189, 213, 234, 0.4); //Beau Blue with some alpha
$tertiary-color: #0b4f6c; //blue sapphire (previously Blue Yonder #577399 with some alpha)
$accent-color: #eeff03; //light fluorescent yellow
$light-color: #f7f7ff; //Ghost White
$dark-color: #191919; //eerie black

$font-family: "Didact Gothic", sans-serif;
$secondary-font: "Montserrat", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  text-align: center;
  font-size: 2.2rem;
  text-transform: lowercase;
}

p,
a,
label,
input,
button {
  font-family: $secondary-font;
  font-size: 1.8rem;
}

h1 {
  text-transform: lowercase;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 900;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}

button {
  font-size: 2.5rem;
  text-align: center;
  color: $primary-color;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 4px solid transparent;
  background-color: $primary-color;
  &:hover {
    border: 4px solid $accent-color;
    color: $primary-color;
  }
}

a,
a:visited {
  font-size: 3.4rem;
  font-weight: bold;
  display: inline-block;
  text-decoration-line: none;
}

//link border radius
li {
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  p {
    line-height: 2.5rem;
  }
}
