//france inspired color palette https://coolors.co/495867-577399-bdd5ea-f7f7ff-fe5f55
$primary-color: #fe5f55; //Orange Red Crayola
$secondary-color: #bdd5ea; //Beau Blue
$tertiary-color: #577399; //Blue Yonder
$accent-color: #eeff03; //light fluorescent yellow
$light-color: #f7f7ff; //Ghost White
$dark-color: #191919; //eerie black

$font-family: "Didact Gothic", sans-serif;
$secondary-font: "Montserrat", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  text-align: center;
  font-size: 2.2rem;
}

p,
a,
label,
input,
button {
  font-family: $secondary-font;
  font-size: 1.8rem;
}

h1 {
  text-transform: lowercase;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

//body text

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}

a,
a:visited {
  font-size: 3.4rem;
  font-weight: bold;
  display: inline-block;
  text-decoration-line: none;
  &:active,
  &:focus {
    outline: none;
  }
}
