.valentines {
	border: 2px solid red;
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.valentines-note {
		display: flex;
		flex-direction: column;

		justify-content: space-around;
		padding: 0px 40px;
		margin: 20px 0px;
		width: 80%;

		p {
			text-align: center;
			line-height: 3rem;

			a {
				font-family: $secondary-font;
				font-size: 1.8rem;
			}
		}
	}

	h2 {
		padding-bottom: 20px;
		font-weight: 800;
	}

	.btnContact {
		&:hover {
			a {
				color: $accent-color;
			}
		}
		a {
			padding: 10px 30px;
			font-size: 1.7rem;
			color: $light-color;
		}
		font-size: 1.2rem;

		border: 3px solid $primary-color;
		border-radius: 5px;
		background-color: $primary-color;
		font-weight: bolder;
		color: $light-color;

		text-transform: lowercase;

		&:hover,
		:active,
		:focus {
			color: $accent-color;
		}
	}

	.valentines-images {
		display: grid;
		flex-direction: row;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
		border: 2px solid red;
		div {
			padding: 40px;
		}
	}

	.valentines-image {
		width: 34%;
	}
}

@media screen and (max-width: 1000px) {
	.valentines-note {
		p {
			font-size: 1.6rem;
		}
	}
}

@media screen and (max-width: 800px) {
	.valentines {
		flex-direction: column;
		padding: 25px 30px;

		.valentines-note {
			.valentines-summary {
				padding: 30px 0px;
			}

			.valentines-summary-note {
				font-size: 1.4rem;
			}
			width: 100%;
			padding: 20px 0px;
			p {
				font-size: 1.6rem;
			}
		}

		.valentines-image {
			width: 100%;
		}
	}
}
