a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  text-transform: lowercase;
}

p,
a,
label,
input,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

h1 {
  text-transform: lowercase;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 900;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}

button {
  font-size: 2.5rem;
  text-align: center;
  color: #fe5f55;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 4px solid transparent;
  background-color: #fe5f55;
}

button:hover {
  border: 4px solid #eeff03;
  color: #fe5f55;
}

a,
a:visited {
  font-size: 3.4rem;
  font-weight: bold;
  display: inline-block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

li {
  border-radius: 5px;
}

header {
  background-color: #fe5f55;
  padding: 10px 8px 15px 10px;
}

header .masthead-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}

header .masthead-social .masthead a {
  color: #f7f7ff;
}

header .masthead-social .social ul li {
  padding: 5px 12px;
}

header .masthead-social .social ul li i {
  color: #f7f7ff;
}

header .masthead-social .social ul li i:hover {
  color: #eeff03;
}

nav .menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 12px 0px;
}

nav .menus ul li:hover, nav .menus ul li:focus, nav .menus ul li:active {
  background-color: #eeff03;
  cursor: pointer;
}

nav .menus ul li:hover a, nav .menus ul li:focus a, nav .menus ul li:active a {
  color: #191919;
}

nav .menus ul li a {
  text-transform: lowercase;
  color: #191919;
  padding: 11px 20px;
  font-size: 1.8rem;
}

nav .menus ul .order-button {
  background-color: #eeff03;
  border: 3px solid #eeff03;
  margin-left: auto;
}

nav .menus ul .order-button a {
  color: #191919;
}

nav .menus ul .order-button:hover {
  border: 3px solid #eeff03;
  background-color: #191919;
}

nav .menus ul .order-button:hover a {
  color: #eeff03;
}

.bijoys-hero {
  position: relative;
}

.bijoys-hero a {
  color: #f7f7ff;
  font-size: 2.5rem;
  padding: 11px 20px;
}

.bijoys-hero .btn {
  position: absolute;
  top: 65%;
  border: 3px solid #eeff03;
  color: #f7f7ff;
  background-color: #eeff03;
  border-radius: 5px;
}

.bijoys-hero .btn a {
  text-transform: lowercase;
  color: #191919;
}

.bijoys-hero .btn:hover {
  background-color: #191919;
}

.bijoys-hero .btn:hover a {
  color: #eeff03;
}

.bijoys-hero .btnReserve {
  right: 25%;
}

.bijoys-hero .btnNewsletter {
  left: 25%;
}

.bijoys-hero .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 5;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.specials {
  padding: 50px 0px;
}

.specials .specials-list {
  padding: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: Repeat(auto-fit, minmax(320px, 1fr));
      grid-template-columns: Repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.specials .specials-list div {
  padding: 20px;
  background-color: rgba(189, 213, 234, 0.35);
  color: #191919;
  border: #eeff03 3px solid;
  border-radius: 5px;
}

.specials .specials-list div h3 {
  font-weight: bolder;
  text-transform: lowercase;
}

.specials .specials-list div p {
  padding: 20px 5px;
  text-align: center;
  font-size: 1.6rem;
}

.specials .specials-list div .gluten {
  padding: 0px;
}

.specials .specials-list div .gluten .gf {
  background-color: #eeff03;
  padding: 10px;
  font-size: 1.4rem;
}

.story {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.story .story-note {
  width: 66%;
  padding: 0px 40px;
}

.story .story-note h2 {
  padding-bottom: 20px;
  font-weight: 800;
  text-transform: lowercase;
}

.story .story-image {
  width: 34%;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: pink;
}

.bijoys-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 0px;
  background-color: rgba(189, 213, 234, 0.35);
}

.bijoys-menu .menu-image {
  width: 34%;
}

.bijoys-menu .download-menus {
  width: 66%;
}

.bijoys-menu .download-menus h2 {
  font-weight: bolder;
  margin-bottom: 15px;
}

.bijoys-menu .download-menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 10px 10px;
  width: 50%;
}

.bijoys-menu .download-menus ul li {
  background-color: #eeff03;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid #eeff03;
  cursor: pointer;
}

.bijoys-menu .download-menus ul li:hover {
  background-color: #191919;
}

.bijoys-menu .download-menus ul li:hover a {
  color: #eeff03;
}

.bijoys-menu .download-menus ul li a {
  padding: 10px 30px;
  font-size: 1.7rem;
  color: #191919;
}

footer {
  background-color: #191919;
}

footer .contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #f7f7ff;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contact-footer .contact-address,
footer .contact-footer .contact-hours,
footer .contact-footer .contact-social {
  padding: 20px 10px;
  width: 33%;
}

footer .contact-footer .contact-address h3,
footer .contact-footer .contact-hours h3,
footer .contact-footer .contact-social h3 {
  text-align: center;
  text-transform: lowercase;
  font-weight: bolder;
  padding-bottom: 25px;
  color: #eeff03;
}

footer .contact-footer .contact-address p,
footer .contact-footer .contact-address a,
footer .contact-footer .contact-address a:visited,
footer .contact-footer .contact-hours p,
footer .contact-footer .contact-hours a,
footer .contact-footer .contact-hours a:visited,
footer .contact-footer .contact-social p,
footer .contact-footer .contact-social a,
footer .contact-footer .contact-social a:visited {
  font-size: 1.6rem;
  text-align: center;
  color: #f7f7ff;
  font-weight: bolder;
}

footer .contact-footer .contact-address a:hover,
footer .contact-footer .contact-address a:focus,
footer .contact-footer .contact-address a:active,
footer .contact-footer .contact-hours a:hover,
footer .contact-footer .contact-hours a:focus,
footer .contact-footer .contact-hours a:active,
footer .contact-footer .contact-social a:hover,
footer .contact-footer .contact-social a:focus,
footer .contact-footer .contact-social a:active {
  color: #eeff03;
}

footer .contact-footer .contact-social .social-icons ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contact-footer .contact-social .social-icons ul li {
  padding: 0px 10px;
}

footer .contact-footer .contact-social i {
  font-size: 2.8rem;
}

footer .back-to-top {
  padding-bottom: 20px;
  text-align: center;
}

footer .back-to-top a {
  font-size: 1.4rem;
  color: #f7f7ff;
  padding: 10px;
}

footer .back-to-top a:hover {
  color: #eeff03;
}
