a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
  border-radius: 5px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  font-size: 2.2rem;
}

p,
a,
label,
input,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

h1 {
  text-transform: lowercase;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 900;
}

h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}

button {
  font-size: 2.5rem;
  text-align: center;
  color: #1da1f2;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 4px solid transparent;
  background-color: #1da1f2;
}

button:hover {
  border: 4px solid #eeff03;
  color: #1da1f2;
}

a,
a:visited {
  font-size: 3.4rem;
  font-weight: bold;
  display: inline-block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

li {
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  p {
    line-height: 2.5rem;
  }
}

/* The Overlay (background for smaller screens) */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #0960b0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Position the content inside the overlay */
  /* Position the close button (top right corner) */
}

.overlay .overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay .overlay-content .img-container {
  padding: 0px 50px 40px 50px;
}

.overlay .overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: #fffbfa;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

.overlay .overlay-content a:hover, .overlay .overlay-content a:focus, .overlay .overlay-content a:active {
  color: #eeff03;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 4rem;
  color: #fffbfa;
}

.overlay .closebtn:hover, .overlay .closebtn:focus, .overlay .closebtn:active {
  color: #eeff03;
}

header {
  padding: 0px 0px;
  background-color: #0960b0;
}

header .masthead-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px 10px 30px;
}

header .masthead-social .masthead h1 {
  text-align: left;
}

header .masthead-social .masthead a,
header .masthead-social .masthead p {
  color: #fffbfa;
}

header .masthead-social .masthead p a {
  padding-top: 3px;
  font-size: 1.4rem;
}

header .masthead-social .social ul li {
  padding: 5px 12px;
}

header .masthead-social .social ul li i {
  color: #fffbfa;
}

header .masthead-social .social ul li i:hover, header .masthead-social .social ul li i:focus, header .masthead-social .social ul li i:active {
  color: #eeff03;
}

header .masthead-social .hamburger {
  display: none;
  padding: 10px 20px;
}

header .masthead-social .hamburger i {
  color: #fffbfa;
  font-size: 3.2rem;
}

header .masthead-social .hamburger i:hover, header .masthead-social .hamburger i:focus, header .masthead-social .hamburger i:active {
  color: #eeff03;
}

.thanks-update,
.covid-update {
  background-color: rgba(189, 213, 234, 0.4);
  padding: 5px 15px;
  border: 5px solid #fffbfa;
  border-radius: 5px;
}

.thanks-update p,
.covid-update p {
  color: #191919;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
  line-height: 2.2rem;
}

.thanks-update {
  margin-top: 10px;
  background-color: lightgreen;
  text-align: center;
  padding: 15px 0px;
  border: 0px;
}

.thanks-update p {
  font-size: 1.6rem;
}

nav .mobile-menus {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .mobile-menus div .mailing-button {
  background-color: #fffbfa;
  border: 1px solid #1da1f2;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

nav .mobile-menus div .mailing-button a {
  text-transform: lowercase;
  color: #1da1f2;
  padding: 11px 20px;
  font-size: 1.8rem;
}

nav .mobile-menus div .mailing-button:hover, nav .mobile-menus div .mailing-button:focus, nav .mobile-menus div .mailing-button:active {
  background-color: #eeff03;
}

nav .mobile-menus div .order-button {
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

nav .mobile-menus div .order-button a {
  text-transform: lowercase;
  color: #fffbfa;
  padding: 11px 20px;
  font-size: 1.8rem;
}

nav .mobile-menus div .order-button:hover a, nav .mobile-menus div .order-button:focus a, nav .mobile-menus div .order-button:active a {
  color: #eeff03;
}

nav .menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 12px 0px;
}

nav .menus ul li:hover, nav .menus ul li:focus, nav .menus ul li:active {
  cursor: pointer;
}

nav .menus ul li:hover a, nav .menus ul li:focus a, nav .menus ul li:active a {
  color: #1da1f2;
}

nav .menus ul li a {
  text-transform: lowercase;
  color: #191919;
  padding: 11px 20px;
  font-size: 1.8rem;
}

nav .menus ul .order-button {
  background-color: #1da1f2;
  border: 3px solid #1da1f2;
  margin-left: auto;
}

nav .menus ul .order-button a {
  color: #fffbfa;
}

nav .menus ul .order-button:hover a, nav .menus ul .order-button:focus a, nav .menus ul .order-button:active a {
  color: #eeff03;
}

@media screen and (max-width: 1100px) {
  nav .menus ul li a {
    padding: 11px 10px;
  }
  .covid-update p,
  .thanks-update p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 950px) {
  nav .menus ul li a {
    padding: 11px 5px 11px 10px;
  }
}

@media screen and (max-width: 900px) {
  nav .menus {
    display: none;
  }
  header .masthead-social .hamburger {
    display: block;
  }
  header .masthead-social .social {
    display: none;
  }
  .covid-update p,
  .thanks-update p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .social .icon {
    float: left;
    display: block;
  }
  nav .mobile-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  header .masthead-social .masthead h1 a {
    font-size: 3rem;
  }
  header .masthead-social .masthead p a {
    font-size: 1.3rem;
  }
  .covid-update p,
  .thanks-update p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  header .masthead-social .masthead h1 a {
    font-size: 2.5rem;
  }
  header .masthead-social .masthead p a {
    font-size: 1.2rem;
  }
  nav .mobile-menus {
    padding: 16px 0px;
  }
  nav .mobile-menus div .mailing-button a,
  nav .mobile-menus div .order-button a {
    font-size: 1.6rem;
    padding: 11px 10px;
  }
}

@media screen and (max-width: 470px) {
  header .masthead-social .masthead h1 a {
    font-size: 2.5rem;
  }
  header .masthead-social .masthead p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 410px) {
  header .masthead-social {
    padding-left: 15px;
    padding-bottom: 0px;
  }
  header .masthead-social .masthead h1 {
    padding-bottom: 20px;
  }
  header .masthead-social .masthead h1 a {
    padding-top: 0px;
    font-size: 2.3rem;
  }
  header .masthead-social .masthead p {
    display: none;
  }
  header .masthead-social .hamburger {
    padding-right: 10px;
  }
}

@media screen and (max-width: 360px) {
  header .masthead-social .masthead {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header .masthead-social .masthead h1 a {
    font-size: 2.1rem;
    padding: 0px;
  }
  header .masthead-social .masthead p {
    display: none;
  }
  nav .mobile-menus div .mailing-button a,
  nav .mobile-menus div .order-button a {
    font-size: 1.6rem;
    padding: 11px 5px;
  }
}

.bijoys-hero {
  position: relative;
}

.bijoys-hero a {
  font-size: 2.5rem;
  padding: 11px 20px;
}

.bijoys-hero .btn {
  position: absolute;
  top: 65%;
  border-radius: 5px;
  border: 3px solid #1da1f2;
}

.bijoys-hero .btn a {
  text-transform: lowercase;
}

.bijoys-hero .btnReserve {
  right: 25%;
  border: 3px solid #1da1f2;
  background-color: #1da1f2;
}

.bijoys-hero .btnReserve a {
  color: #fffbfa;
}

.bijoys-hero .btnReserve:hover {
  background-color: #1da1f2;
}

.bijoys-hero .btnReserve:hover a {
  color: #eeff03;
}

.bijoys-hero .btnNewsletter {
  left: 25%;
  background-color: #fffbfa;
}

.bijoys-hero .btnNewsletter a {
  color: #1da1f2;
}

.bijoys-hero .btnNewsletter:hover {
  background-color: #eeff03;
}

.bijoys-hero .hero-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 5;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .bijoys-hero .btnReserve {
    right: 15%;
  }
  .bijoys-hero .btnNewsletter {
    left: 15%;
  }
}

@media screen and (max-width: 850px) {
  .bijoys-hero .btnReserve {
    right: 12%;
  }
  .bijoys-hero .btnNewsletter {
    left: 12%;
  }
}

@media screen and (max-width: 800px) {
  .bijoys-hero .btnReserve {
    right: 10%;
  }
  .bijoys-hero .btnNewsletter {
    left: 10%;
  }
}

@media screen and (max-width: 750px) {
  .bijoys-hero .btnReserve,
  .bijoys-hero .btnNewsletter {
    display: none;
  }
}

.specials {
  padding: 50px 0px;
}

.specials .specials-list {
  padding: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: Repeat(auto-fit, minmax(300px, 1fr));
      grid-template-columns: Repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.specials .specials-list div {
  padding: 20px;
  background-color: rgba(189, 213, 234, 0.4);
  color: #191919;
  border: #1da1f2 1px solid;
  border-radius: 5px;
}

.specials .specials-list div h3 {
  font-weight: bolder;
  text-transform: lowercase;
}

.specials .specials-list div p {
  padding: 20px 5px;
  text-align: center;
  font-size: 1.6rem;
}

@media screen and (max-width: 1000px) {
  .specials {
    padding: 25px 0px;
  }
  .specials .specials-list {
    padding: 25px 30px;
  }
}

@media screen and (max-width: 658px) {
  .specials .specials-list div {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 415px) {
  .specials .specials-list {
    -ms-grid-columns: Repeat(auto-fit, minmax(280px, 1fr));
        grid-template-columns: Repeat(auto-fit, minmax(280px, 1fr));
    padding: 30px 20px;
  }
  .specials .specials-list div {
    padding: 10px 10px;
  }
  .specials .specials-list div h3 {
    font-size: 1.6rem;
  }
  .specials .specials-list div p {
    font-size: 1.6rem;
    padding: 10px 5px 10px 5px;
  }
}

.snowflakes {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffbfa;
}

.snowflakes .snowflakes-note {
  width: 66%;
  padding: 0px 40px;
}

.snowflakes .snowflakes-note h2 {
  padding-bottom: 20px;
  font-weight: 800;
}

.snowflakes .snowflakes-note p {
  text-align: center;
}

.snowflakes .snowflakes-note p a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

.snowflakes .snowflakes-image {
  width: 34%;
}

@media screen and (max-width: 1000px) {
  .snowflakes-note p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .snowflakes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 30px;
  }
  .snowflakes .snowflakes-note {
    width: 100%;
    padding: 20px 0px;
  }
  .snowflakes .snowflakes-note p {
    font-size: 1.6rem;
  }
  .snowflakes .snowflakes-image {
    width: 100%;
  }
}

.story {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.story .story-note {
  width: 66%;
  padding: 0px 40px;
  text-align: center;
}

.story .story-note h2 {
  padding-bottom: 20px;
  font-weight: 800;
}

.story .story-image {
  width: 34%;
}

@media screen and (max-width: 1000px) {
  .story-note p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 30px;
  }
  .story .story-note {
    width: 100%;
    padding: 20px 0px;
  }
  .story .story-note p {
    font-size: 1.6rem;
  }
  .story .story-image {
    width: 100%;
  }
}

.section-subscribe {
  background-color: rgba(189, 213, 234, 0.4);
}

.section-subscribe .form-subscribe {
  padding: 30px 0px;
  margin: 0px 110px;
}

.section-subscribe .form-subscribe h2 {
  margin-bottom: 25px;
}

.section-subscribe .form-subscribe .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-subscribe .form-subscribe .form-flex .label-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px;
}

.section-subscribe .form-subscribe .form-flex .label-flex div {
  padding: 4px 0px;
}

.section-subscribe .form-subscribe .form-flex .label-flex .lblForm {
  font-size: 1.8rem;
}

.section-subscribe .form-subscribe .form-flex .label-flex .txtForm {
  font-size: 1.8rem;
  padding: 10px 10px;
  border: 1px #1da1f2 solid;
  background-color: #fffbfa;
  border-radius: 5px;
}

.section-subscribe .form-subscribe .clear {
  padding: 5px;
}

.section-subscribe .form-subscribe .clear button {
  font-size: 1.8rem;
  padding: 10px 40px;
  border: 3px solid #1da1f2;
  border-radius: 5px;
  background-color: #1da1f2;
  font-weight: bolder;
  color: #fffbfa;
  text-transform: lowercase;
}

.section-subscribe .form-subscribe .clear button:hover,
.section-subscribe .form-subscribe .clear button :active,
.section-subscribe .form-subscribe .clear button :focus {
  color: #eeff03;
}

@media screen and (max-width: 1090px) {
  .section-subscribe .form-subscribe {
    margin: 0px 80px;
  }
}

@media screen and (max-width: 1020px) {
  .section-subscribe .form-subscribe {
    margin: 0px 40px;
  }
}

@media screen and (max-width: 1020px) {
  .section-subscribe .form-subscribe {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 900px) {
  .section-subscribe .form-subscribe .form-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .section-subscribe .form-subscribe .form-flex input,
  .section-subscribe .form-subscribe .form-flex button {
    font-size: 1.6rem;
  }
}

.menus_section {
  background-color: rgba(189, 213, 234, 0.4);
}

.menus_section .bijoys-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px 0px;
}

.menus_section .bijoys-menu .menu-image {
  width: 34%;
}

.menus_section .bijoys-menu .download-menus {
  width: 66%;
}

.menus_section .bijoys-menu .download-menus h2 {
  font-weight: bolder;
  margin-bottom: 15px;
}

.menus_section .bijoys-menu .download-menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 10px 10px;
  width: 50%;
}

.menus_section .bijoys-menu .download-menus ul li {
  background-color: #1da1f2;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid #1da1f2;
  cursor: pointer;
}

.menus_section .bijoys-menu .download-menus ul li:hover a {
  color: #eeff03;
}

.menus_section .bijoys-menu .download-menus ul li a {
  padding: 10px 30px;
  font-size: 1.7rem;
  color: #fffbfa;
}

@media screen and (max-width: 1060px) {
  .menus_section .bijoys-menu .download-menus ul {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .menus_section .bijoys-menu .download-menus ul li a {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 800px) {
  .menus_section .bijoys-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 30px;
  }
  .menus_section .bijoys-menu .download-menus {
    width: 100%;
    padding: 20px 0px;
  }
  .menus_section .bijoys-menu .download-menus ul {
    padding: 10px 0px;
    width: 50%;
  }
  .menus_section .bijoys-menu .menu-image {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .menus_section .bijoys-menu .download-menus ul {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .menus_section .bijoys-menu .download-menus ul {
    width: 80%;
  }
}

@media screen and (max-width: 440px) {
  .menus_section .bijoys-menu .download-menus ul {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .menus_section .bijoys-menu .download-menus ul {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .menus_section .bijoys-menu .download-menus ul li a {
    font-size: 1.4rem;
    padding: 10px 0px;
  }
}

.valentines {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.valentines .valentines-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 40px;
  margin: 20px 0px;
  width: 80%;
}

.valentines .valentines-note p {
  text-align: center;
  line-height: 3rem;
}

.valentines .valentines-note p a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

.valentines h2 {
  padding-bottom: 20px;
  font-weight: 800;
}

.valentines .btnContact {
  font-size: 1.2rem;
  border: 3px solid #1da1f2;
  border-radius: 5px;
  background-color: #1da1f2;
  font-weight: bolder;
  color: #fffbfa;
  text-transform: lowercase;
}

.valentines .btnContact:hover a {
  color: #eeff03;
}

.valentines .btnContact a {
  padding: 10px 30px;
  font-size: 1.7rem;
  color: #fffbfa;
}

.valentines .btnContact:hover,
.valentines .btnContact :active,
.valentines .btnContact :focus {
  color: #eeff03;
}

.valentines .valentines-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.valentines .valentines-images div {
  padding: 40px;
}

@media screen and (max-width: 1000px) {
  .valentines-note p {
    font-size: 1.6rem;
  }
  .valentines .valentines-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .valentines .valentines-images div {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .valentines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 30px;
  }
  .valentines .valentines-note {
    width: 100%;
    padding: 20px 0px;
  }
  .valentines .valentines-note p {
    font-size: 1.6rem;
  }
  .valentines .valentines-images div {
    width: 100%;
  }
}

footer {
  background-color: #191919;
}

footer .contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fffbfa;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .contact-footer .contact-address,
footer .contact-footer .contact-hours,
footer .contact-footer .contact-social {
  padding: 20px 10px;
  width: 33%;
}

footer .contact-footer .contact-address h3,
footer .contact-footer .contact-hours h3,
footer .contact-footer .contact-social h3 {
  text-align: center;
  text-transform: lowercase;
  font-weight: bolder;
  padding-bottom: 25px;
  color: #fffbfa;
}

footer .contact-footer .contact-address p,
footer .contact-footer .contact-address a,
footer .contact-footer .contact-address a:visited,
footer .contact-footer .contact-hours p,
footer .contact-footer .contact-hours a,
footer .contact-footer .contact-hours a:visited,
footer .contact-footer .contact-social p,
footer .contact-footer .contact-social a,
footer .contact-footer .contact-social a:visited {
  font-size: 1.6rem;
  text-align: center;
  color: #fffbfa;
  font-weight: bolder;
}

footer .contact-footer .contact-address a:hover,
footer .contact-footer .contact-address a:focus,
footer .contact-footer .contact-address a:active,
footer .contact-footer .contact-hours a:hover,
footer .contact-footer .contact-hours a:focus,
footer .contact-footer .contact-hours a:active,
footer .contact-footer .contact-social a:hover,
footer .contact-footer .contact-social a:focus,
footer .contact-footer .contact-social a:active {
  color: #eeff03;
}

footer .contact-footer .contact-social .social-icons ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contact-footer .contact-social .social-icons ul li {
  padding: 0px 10px;
}

footer .contact-footer .contact-social i {
  font-size: 2.8rem;
}

footer .contact-footer .contact-hours p {
  text-transform: lowercase;
}

footer .back-to-top {
  padding-bottom: 20px;
  text-align: center;
}

footer .back-to-top a {
  font-size: 1.4rem;
  color: #fffbfa;
  padding: 10px;
}

footer .back-to-top a:hover {
  color: #eeff03;
}

@media screen and (max-width: 690px) {
  footer .contact-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
  }
  footer .contact-footer .contact-address,
  footer .contact-footer .contact-hours,
  footer .contact-footer .contact-social {
    padding-bottom: 20px;
    width: 100%;
  }
}
